%head
	%style
		-# This should be set up so that the styles are generated when the site is loaded initially, and css is created and accessed in actual files.
		= sass :reset
		= sass :styles

%body
	.content
		= markdown :content